
<style>
/* customize gsa dropdown menu */
    #gsaDropdown ul.dropdown-menu{
        padding: 5px 0px;
        background-color: #102c52 !important;
    }

    #gsaDropdown ul.dropdown-menu > li > a{
        color: #f7f7f7;
        font-weight: 300;
    }


    #gsaDropdown ul.dropdown-menu > li > a:hover{
        background-color: transparent!important;
    }

    #navbar ul.nav.navbar-nav,
    #navbar ul.nav.navbar-nav > li{
        height: 60px;
    }

    #navbar ul.nav.navbar-nav > li > a{
        padding: 20px 15px;
        font-weight: 300;
        color: #102c52;
    }

    #navbar ul.nav.navbar-nav > li.active > a{
        color: #102c52!important;
        font-weight: 700 !important;
        border-bottom: 1px solid #102c52;
        padding-bottom: 5px!important;
        background-color: transparent !important;
    }


    hr {
        margin: 0px;
    }

</style>

<!-- SRTDashHeaderView -->
<div id="header" style="height: 100px; padding: 0px;">
    <nav class="us-navbar navbar-default">
        <div class="container-fluid" style="padding: 0px;">
            <div class="navbar-header" style="height: 60px">
                <a class="navbar-brand" href="/srt/report" style="padding: 20px 15px; height: 60px;">SRT</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar" style="padding: 0px;">
                <ul class="nav navbar-nav">
                    <li data-toggle="tab"><a [routerLink]="['report']">Report</a></li>
                    <li data-toggle="tab"><a [routerLink]="['preexam']">Pre-Exam</a></li>
                    <li data-toggle="tab"><a [routerLink]="['analytics']">Analytics</a></li>
                    <li data-toggle="tab"><a [routerLink]="['settings']">Settings</a></li>
                </ul>
                <div class=" gsa_logo">
                    <a href='#' class="logo_li">
                    <div class='span-logo' >
                        <img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcStDPOwn52HTo15I09MdmZaDVuVM90Xc09d_WO1GRAlptb47H4a34h14g'/>
                    </div>
                    </a>
                </div>
                <ul id="gsaDropdown" class="nav navbar-nav" style="float: right;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                                    style="font-weight: 300"
                                    data-toggle="dropdown"
                                    role="button"
                                    aria-haspopup="true"
                                    aria-expanded="false">Hi, {{firstName}}<span class="caret"></span></a>

                        <a href="#" class="dropdown-toggle" style="font-weight: 300" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{firstName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" style="padding: 10px 20px;">Login</a></li>
                            <li><a href="#" style="padding: 10px 20px;">Other</a></li>
                            <li><button class="dropdown-item" type="button" style="padding: 10px 20px;" (click)="onLogout()">Log Out</button></li>
                      </ul>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <hr>
</div>
